.stars{
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 20px;
}

.movies_list{
margin-top: 20px;

}
.movie_card{
    width: 240px;
    background: white;
      justify-content: space-between;
}
.movie_card>h3{
   text-align: center;
}
.movie_card>p{
padding: 5px;

}