.main_header{
    position: fixed;
    z-index: 3;
    width: 100%;
}

.img:hover{
    transition: 500ms;
}

.header{
    background-color: royalblue;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.header:hover{
    cursor: pointer;
}
.menu_burger{
    width: 40px;
    height: 2px;
    background: black;
    position: relative;
}
.menu_burger:before{
    content: '';
    height: 2px;
    width: 40px;
    bottom: 10px;
    background: black;
    position: absolute;
}
.menu_burger:after{
    content: '';
    height: 2px;
    top: 10px;
    width: 40px;
    position: absolute;
    background: black;
}


.top_input{
    width: 440px;
    padding: 10px ;
    border-radius: 10px;
    cursor: alias;
}
.user{
    text-align: center;
}
.user>img{
    width: 40%;
    text-align: center;
}
.user>p{
    font-weight: bold;

}
.change_btn{
    box-sizing: inherit;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid darkblue;
    width: 100px;
    height: 30px;
    color: mediumblue;
    cursor:pointer ;
    background: black;
}
