.out_wrap_card {
    flex-wrap: wrap;
    padding:150px;
}

.wrapper{
position: relative;
}


.wrap_one{
    padding:0;
}


.wrap_cards{
    word-wrap: break-word;
    height: 800px;
    padding: 10px;
    width: 220px;
    margin: 0 10px 20px 0;
}

.wrap_cards>h3{
    text-align: center;
}
.wrap_cards>p{
    font-weight: revert;
}

.img_card>img{
    width: 220px;
}

.img_card{
    position: relative;
    display: flex;
    cursor: pointer;
}
.img_card:hover{
    transform: scale(1.2);
    transition: 500ms;
}

.img_card:before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    left: 0;
    content: '';
    opacity: 0;
}
.img_card:hover:before{
    opacity: 1;
    transition: 500ms;
}


.stars_and_fb{
    justify-content: space-between;

}

.wrap_genres{
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-weight: unset;
}

.wrap_genres>img{
    padding: 10px;
    width: 15px;
    height: 15px;
}


.pages{
  margin:100px 0  0 350px;
}